# Binaries for programs and plugins

# なでしこ3
nadesiko3/
manual
homebrew-nadesiko3/

*.exe
*.exe~
*.dll
*.so
*.dylib
.DS_Store
*.swp
nadesiko3go

bin/
/out/
benchmark/build/

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/
.gopath/

# ai agents
setting.json
